<!DOCTYPE html>
<html lang="en">
<style type="text/css" media= "screen">
img {
    display: inline-block;
    max-width: 100%;
    max-height: auto;
}
</style>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid"> <!-- Start: Menu Container-->
    <div class="jumbotron text-center"> <!-- Start Jumbotron-->
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div><!-- End: Menu Container-->
  </div><!-- End Jumbotron-->
  <div class="container-fluid "> <!-- Start: News 2 panel container-->
    <div class ="row"> <!-- Start : Row News Article/Facts/Weather -->
      <div class = "col-md-8"> <!-- Start : Article-->
        <h2> Latest Mars News</h2>
        <h3>{{ mars_news.news_title }}</h3>
        <p>{{ mars_news.news_p }}</p>
        <h2>Featured Mars Image</h2>
        <img src={{ mars_news.featured_image_url }}>
      </div><!-- End : Article-->
      <div class = "col-md-4"> <!-- Start: Weather/Facts-->
          <h3>Current Weather on Mars</h3>
          <p>{{ mars_news.mars_weather }}</p>
          <h3>Mars Facts</h3>
          {{ mars_news.html_table|safe }}
      </div><!-- End: Weather/Facts-->
    </div><!-- End : Row News Article/Facts/Weather -->
  </div><!-- End: News 2 panel container-->
      <div class = "row"> <!-- Start: Row Mars Hemispheres Title-->
        <h2 class = "text-center">Mars Hemispheres</h2>
      </div><!-- End: Row Mars Hemispheres Title-->
      <div class = "row"> <!-- Start: hemisphere image row-->
        {% for link in mars_news.hemisphere_image_urls %}
        <div class = "col-sm-12 col-md-6 col-lg-6"> <!-- Start: 4 column hemisphere image row-->
            <h2 class = "text-center">{{ link.title }}</h2>
            <img src = {{ link.img_link }}>
          
        </div><!-- End: 4 column hemisphere image row-->
        {% endfor %}
      </div><!-- End: hemisphere image row-->
      
  


</body>

</html>
