<!DOCTYPE html>
<html lang="en">
<style type="text/css" media= "screen">
img {
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
}
</style>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>
  </div>
  <div class=container-fluid>
    <div class ="row">
      <div class = "col-md-8">
        <h2> Latest Mars News</h2>
        <h3>{{ mars_news.news_title }}</h3>
        <p>{{ mars_news.news_p }}</p>
        <h2>Features Mars Image</h2>
        <img src={{ mars_news.featured_image_url }}>
      </div>
      <div class = "col-md-4">
          <h3>Current Weather on Mars</h3>
          <p>{{ mars_news.mars_weather }}</p>
          <h3>Mars Facts</h3>
          {{ mars_news.html_table|safe }}
      </div>
      <div class = "row">
        <h2 class = "text-center">Mars Hemispheres</h2>
        <div class = "col-md-4">
          {% for link in mars_news.hemisphere_image_urls %}
            <h2 class = "text-center">{{ link.title }}</h2>
            <img src = {{ link.img_link }}>
          {% endfor %}
        </div>
      </div>
  </div>


</body>

</html>
